#bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background-image: linear-gradient(
        to top right,
        #2f333d,
        #282c34,
        #2f333e,
        #282c35,
        #282c35,
        #2f333e,
        #282c34,
        #2f333d
    ); */
    background-image: linear-gradient(
        to top left,
        #282c35,
        #2f333e
    );
}

h1 {
    color: white;
}

a:visited {
    color: pink;
}